# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

# Production
dist
build
.wrangler
.vercel

# Misc
.DS_Store
*.pem
.env
.env.local
.env.*.local

# Testing
coverage

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Files
.gitignore
.editorconfig
LICENSE
README.md
CHANGELOG.md
*.md
